{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dechiffrement</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.js'%}">
    <link rel="stylesheet" href="{% static 'Styles.css'%}">
</head>
<body>

  <nav class="cc-navabar navbar navbar-expand-lg position-fixed navbar-dark w-100">
    <div class="container-fluid">
      <a class="navbar-brand text-uppercase fw-bolder mx-4 py-3 reddressed" href="#"> Chiffrement de Cesar </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item pe-4">
            <a class="nav-link "  href="{% url 'HomePage' %}">Home</a>
          </li>
          <li class="nav-item pe-4">
            <a class="nav-link"   href="{% url 'Chiffrer' %}">Chiffrement</a>
          </li>
          <li class="nav-item pe-4">
            <a class="nav-link  active " aria-current="page"  href="{% url 'Dechiffrer' %}">Déhiffrement</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <center>
    <section class="banner d-flex justify-content-center align-items-center py-5">
    
      <div class="container py-5">
        <div class="row" >
          <div class="col-md-6"> 
            <div class="formulaire" >
              <form action="" method="POST">
                  {% csrf_token %}
  
                  <div class="input-group mb-3 py-5">
                    <span class="input-group-text">Message</span>
                    <textarea rows="5" cols="50" class="form-control " name="messageDechiffrer" aria-label="With textarea"></textarea>
                  </div>
                  <div class="input-group mb-3 py-5">
                    <span class="input-group-text"> <img src="{% static 'img/key.svg'%}"   style="width:32px;" alt="..."></span>
                    <input type="number" class="form-control" name="Cle" placeholder="Exemple : 3">
                  </div>
                  <div>
                    <button type="submit" class="btn btn-order btn-lg me-5 rounded-pill merriweather "> Déchiffrer le message </button>
                  </div>
              </form>
            </div>
          </div>
  
          <div class="col-md-6 mb-3 py-5">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title alert alert alert-dark" role="alert">Aperçu du Message Dechiffré </h5>
                <p class="card-text">{{values}}</p>
              </div>
            </div>
  
            
          </div>
        </div>
      </div>
    </section>
  </center>

  <section class="footer py-5 merriweather bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center text-muted ">
          by Hamadé KOURSANGAMA & Souleymane ZONGO 
        </div>
        <div class="col-12 text-center  text-muted ">
          @ Chiffrement de Cesar 
          <script> document.write(new Date().getFullYear()) ; </script>
          Copyright 
        </div>
  
      </div>
    </div>
  </section>

</body>
<script src="{% static 'bootstrap.bundle.min.js'%}"></script>
</html>